<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
   
    <%- include('./partials/nav.ejs') %>
   <div class="about content">
    <h2>All Blogs</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, velit corrupti adipisci, laborum reprehenderit explicabo culpa qui dolor, iure repudiandae veritatis similique blanditiis beatae fugit repellendus necessitatibus nesciunt ullam quos.</p>
    <p>Saepe, temporibus accusamus impedit fugit expedita voluptatum obcaecati corrupti odit dicta at fuga fugiat provident facilis? Sequi nesciunt consequatur aliquam blanditiis recusandae, voluptatibus repellendus voluptas, expedita quibusdam illum officia repellat.</p>
    <p>Dignissimos sunt cupiditate aperiam ipsa officia distinctio voluptatem culpa, quis pariatur, praesentium modi nobis corrupti nemo odit accusantium! Sapiente blanditiis eaque temporibus earum placeat architecto quis voluptate, delectus ipsum aut?</p>
    <p>Debitis quod laudantium velit a quidem magni asperiores harum iure repellat maiores. Reprehenderit voluptas ratione nisi animi eaque. Minus illum eveniet dicta nam officiis ducimus reprehenderit labore magnam esse ut.</p>
       </div>
         <%- include('./partials/footer.ejs') %>
</body>
</html>